<template>
  <div class="el-container">
    <el-row :gutter="20">
      <el-col :span="12" :offset="6">
        <el-card >
          <div slot="header" class="clearfix topheader" v-scroll-spy="scrollPos">
            <span class="topheader">Экпорт услуг</span>
          </div>
          <el-row :gutter="20">
            <el-col :span="5" :offset="1" style="padding-top: 8px;"> Месяц</el-col>
            <el-col :span="12" :offset="1">
              <el-date-picker
                    v-model="nDate"
                    type="month"
                    size="small"
                    v-on:change="onChange"
                    placeholder="Выбирите месяц">
              </el-date-picker>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="5" :offset="1" style="padding-top:8px;"> Вид услуги
            </el-col>
            <el-col :span="12" :offset="1">
              <el-select v-model="selectedVid" placeholder="Вид услуги" size="small" style="width:300px;">
                <el-option-group
                        v-for="group in serviceTyps1"
                        :key="group.GroupNumber"
                        :label="group.GroupName">
                  <el-option
                          v-for="item in group.GroupServices"
                          :key="item.id"
                          :label="item.ShortTitle"
                          :value="item.id">
                  </el-option>
                </el-option-group>
              </el-select>
            </el-col>
          </el-row>

        </el-card>
      </el-col>
    </el-row>

    <el-row :gutter="20">
      <el-col :span="18" :offset="3">
          <dttable :serviceTyps="serviceTypsWithValues" :selectedVid="selectedVid" :loading="loading" @setService="setService($event)" ></dttable>
      </el-col>
    </el-row>
    <el-dialog   size="small" :visible.sync="showModal">
      <span class="dialogheader" slot="title">{{selectedServiceTitle}}</span>
      <el-form :model="form">
        <el-form-item label="План на месяц" :label-width="'250px'">
          <el-input-number :controls="false" size="small" v-model="form.nPlan" ></el-input-number>
        </el-form-item>
        <el-form-item label="Экспорт за месяц" :label-width="'250px'">
          <el-input-number ref="elem" :controls="false" size="small" v-model="form.nValue"></el-input-number>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
    <el-button type="success" @click="SendToServer(form.nValue,form.nPlan)">Сохранить</el-button>
    <el-button @click="showModal = false">Отменить</el-button>
  </span>
    </el-dialog>


  </div>
</template>
<script>
    import Vue from 'vue'
    import dttable from './table.vue'
    import axios from 'axios'
    import {eventBus} from './main'
    import moment from 'moment'
    import accounting from 'accounting'
    import db from './dbWebExportServises'
    export default {
        components:{
            dttable
        },
        data() {
            return {
                showModal: false,
                loading: true,
                scrollPos: 0,
                serviceTyps1: [],
                serviceTypsWithValues:[],
                nDate:'',
                serviceValues: [],
                serviceGroups: [],
                theMonths:  ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                theYears : [],
                nValue :'',
                nPlan :'',
                nValueId:0,
                selectedVid: '',
//                selectedVidValueExist:false,
                selectedVidValueText:'',
                selectedVidValueTitle:''
            };
        },
        computed: {
            form: function () {
                return {nPlan:this.nPlan,nValue:this.nValue}
            },
                selectedServiceTitle: function () {
//                return this.selectedVid;
                var self=this;
                var selectedService =self.serviceTypsWithValues.find(function (item) {return item.service == self.selectedVid;})
                    if (!selectedService) {
                    return ''
                    }
              return selectedService.title
            },
            selectedYear:function () {
                return this.formatDate(this.nDate,'YYYY')
            },
            selectedMonth:function () {
                return this.formatDate(this.nDate,'M')
            },
            currentDate:function () {
                var d = new Date();
                return d.getMonth()+1;
            },
            currentYear:function () {
                var d = new Date();
                return d.getFullYear();
            },
            procValue:function () {
                return (this.nPlan==0) ? 0: Math.round(this.nValue/this.nPlan*100);
            }

        },
         methods: {
             SetserviceTypsWithValues(serviceValues) {
                 if(this.serviceTyps1.length<1){
                     return []
                 }
                 var ResultArr=[];
                 var i=0;
                 var ii=0;
                 var y=0;
                 var z=0;
                 var value=0;
                 var plan=0;
                 var procent=0;
                 var item= {};
                 for(i=0;i<this.serviceTyps1.length;i++) {
                     z=y;
                     ResultArr[y]={id:y+1,service:0,tip:0,title:this.serviceTyps1[i].GroupName+' (итого):',value:0,plan:0,procent:0};
                     y+=1;
                     for(ii=0;ii<this.serviceTyps1[i].GroupServices.length;ii++) {
                         item=this.serviceTyps1[i].GroupServices[ii]
                         value=((serviceValues['id'+item.id].value) ? Number(serviceValues['id'+item.id].value) : 0);
                         plan=((serviceValues['id'+item.id].plan) ? Number(serviceValues['id'+item.id].plan) : 0);
                         procent=((serviceValues['id'+item.id].procent) ? Number(serviceValues['id'+item.id].procent) : 0);
                         ResultArr[y]={id:y+1,service:item.id,tip:1,title:item.ShortTitle,value:value,plan:plan,procent:procent};
                         ResultArr[z].value+=value;
                         ResultArr[z].plan+=plan;
                         y+=1;
                     }
                 }
//                 console.log(this.serviceTypsWithValues);
                 this.serviceTypsWithValues= ResultArr;
             },
             setService(row){
                var self=this;
                self.selectedVid = row.service;
                self.fetchExportData(row.edit);
            },
             GetRussianDateTime(DT){
                 var orderDateString = DT; //relative datetime value in REST response
                 var offset = 180; //CET offset
                 return moment.utc(orderDateString).utcOffset(offset).locale('ru').format('LLL');
             } ,
             formatDate (value, fmt = 'D MMM YYYY') {
                 return (value == null)
                     ? ''
                     : moment(value, 'YYYY-MM-DD').format(fmt)
             },
             onChange() {
                 if(!this.nDate){
                     this.nDate=( new Date());
                 }
                this.fetchExportData();
                this.fetchExportDataValues();
               },
             SendToServer(val,plan) {
                 var self=this;
                 db.SendValueToExportServices({idyear: Number(self.selectedYear), idmes: Number(self.selectedMonth),idpred: self.selectedVid, value: val,plan:  plan},function (err,res) {
                         if (err){
                             console.log(err);
                             self.$notify.error({
                                 title: 'Ошибка',
                                 offset: 40,
                                 message: 'Ошибка сохранения данных на сервере. Попробуйте сохранить данные позже.'
                             });
//                             setTimeout(function(){self.fetchExportData(); self.fetchExportDataValues();},3000);
                         }else{
                             self.$notify({
                                 title: 'Отправлено',
                                 message: 'Данные успешно отправлены на сервер',
                                 offset: 40,
                                 type: 'success'
                             });
                             self.showModal=false;
                             self.fetchExportData();
                             self.fetchExportDataValues();
                         }
                     });
             },
             fetchExportSettingsData(){
                 var self=this;
                 db.GetAllExportServices1(function (err,res) {
                     if (err){
                         console.log(err);
                     }else{
                         self.serviceTyps1 = res;
                         setTimeout(function () {
                             self.selectedVid = self.serviceTyps1[0].GroupServices[0].id;
                             self.fetchExportData();
                         }, 500);
                     }
                 });
             },
             fetchExportData(IsShowModal){
                 var self=this;
                 db.GetOneExportServicesValue(self.selectedYear,self.selectedMonth,self.selectedVid, function (err,res) {
                     if (err){
                         console.log(err);
                     }else{
                         self.nValueId = res.nValueId;
                         self.nValue = res.nValue;
                         self.nPlan = res.nPlan;
                         if(IsShowModal && res.showModal){
                             self.showModal=IsShowModal;
                             setTimeout(function () {
                                 var el=self.$refs.elem.$el.childNodes[2].childNodes[2];
                                 if (el){
                                     el.focus();
                                     el.select();
                                 }
                             },500)
                         }
                     }
                 });
             },
             fetchExportDataValues(){
                 var self=this;
                 this.loading=true;
                 db.GetPeriodExportServicesValues(self.selectedYear,self.selectedMonth, function (err,res) {
                     if (err){
                         console.log(err);
                         self.loading=false;
                     }else{
                         self.SetserviceTypsWithValues(res);
                         self.serviceValues = res;
                         self.loading=false;
                     }
                 });
             }
         },
        created() {
            var self=this;
            this.nDate=( new Date());
//            this.theYears.push(this.currentYear-1);
//            this.theYears.push(this.currentYear);
//            this.theYears.push(this.currentYear+1);
            this.selectedMonth=this.currentDate;
            this.selectedYear=this.currentYear;
            this.fetchExportSettingsData();
            setTimeout(function () {
                self.fetchExportDataValues();
            },600);


            eventBus.$on('serviceWasChanged', (id) => {
                this.selectedVid = id;
                this.fetchExportData();
                $('#topcomponent').animate({scrollTop: 0}, duration);

            });


        }
    }
</script>

<style>
  .el-container {
    font-family: 'ptsans', sans-serif;
  }
  .el-select-dropdown__item,.el-select-group__title{
    font-family: 'ptsans', sans-serif;
  }
  .el-notification{
    font-family: 'ptsans', sans-serif;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
  .topheader{
    text-align: center;
    color: #727272;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .el-card__header{
    padding: 6px 20px !important;
    background-color: #e3ebf2;
  }
  .el-card__body{
    padding-bottom: 5px !important;
    letter-spacing: 1px;
  }
  .el-row {
    margin-bottom: 10px;
  }

  .el-card{
    margin-top: 10px;
    margin-bottom: 12px;
  }
  .dialogheader{
    font-size: 16px;
    font-weight: bold;
    }
  .el-dialog__header{
    background-color: #e2f0e4;
    border-radius: 6px;
    padding-bottom: 14px !important;
  }
  .el-dialog{
    border-radius: 6px !important;
  }
  .el-dialog__body{
    padding: 15px 20px !important;
  }
  .el-dialog--small{
    width: 40% !important;
  }
  .el-form-item{
    margin-bottom: 10px !important;
  }

  h4{
    color:#fff !important;
  }
  .control-label span{
    color: gray;
    font-size: 11px;
  }

  input{
    text-align: right;
  }

  hr{
    margin-top:4px;
    margin-bottom:4px;
  }


  .border-between > [class*='col-']:before {
      background: #e3e3e3;
      bottom: 0;
      content: " ";
      left: 0;
      position: absolute;
      width: 1px;
      top: 0;
  }
  .border-between > [class*='col-']:first-child:before {
      display: none;
  }


</style>
