<template>
    <div >
                    <el-table
                            v-loading.body="loading"
                            ref="singleTable"
                            :data="serviceTyps"
                            border
                            style="width: 100%; margin-top: 20px"
                            @row-click="RowClick"
                            highlight-current-row
                            :row-class-name="tableRowClassName">
                        <el-table-column
                                prop="title"
                                label="наименование услуги">
                        </el-table-column>
                        <el-table-column
                                prop="plan"
                                label="план"
                                align="right"
                                :formatter="formatNum"
                                width="110">
                        </el-table-column>
                        <el-table-column
                                prop="value"
                                label="факт"
                                align="right"
                                :formatter="formatNum"
                                width="110">
                        </el-table-column>
                        <el-table-column
                                label="процент"
                                align="right"
                                width="110">
                            <template scope="scope">
                                <div :class="columnClass(scope.row)">{{(scope.row.procent==0 ? '' : scope.row.procent)}}</div>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="операции"
                                align="right"
                                width="150">
                            <template scope="scope">
                                <el-button type="success" icon="edit" v-if="scope.row.tip==1" size="small"
                                        @click="handleEdit(scope.$index, scope.row)"></el-button>
                            </template>

                        </el-table-column>
                    </el-table>
    </div>
</template>
<script>
    import accounting from 'accounting'
    export default {
        props: ['serviceTyps','selectedVid','loading']
        ,
        data() {
            return {
                currentService: 2
            }
        },
        methods: {
            columnClass(row) {
                if (row.procent <100) {
                    return 'alert-column';
                }
                return'';
            },
            tableRowClassName(row, index) {
                if (row.tip === 0) {
                    return 'info-row';
                }
                return '';
            },
            formatNum(row, column) {
                return  accounting.formatNumber(row[column.property], 0);
            } ,
            handleEdit(index, row) {
                if(row.service!=0){
                    this.$emit('setService',{service:row.service,edit:true})
                }
            },
            RowClick(row, event, column) {
                if(row.service!=0){
                    this.$emit('setService',{service:row.service,edit:false})
                }
            }
        },
        watch: {
            selectedVid: function (val) {
                var row=this._props.serviceTyps.find(function (elem) {
                   return elem.service===val;
                });
                if (row){
                    this.$refs.singleTable.setCurrentRow(row);
                }
            }
        }
    }
</script>

<style>
    .el-row {
        margin-bottom: 3px;
    }
    .el-table{
        margin-top: -9px !important;
        border-radius: 6px;
    }
    .el-table .info-row {
        background: #e2f0e4;
        font-size: 14px;
        color: #5d5d5d;
    }
    .alert-column {
        color: red;
        font-weight: bold;
    }

    .el-table__body tr.current-row>td{
        background: #b8c6ba !important;
    }

    .el-table .info-row td div {
        padding-right: 20px;
        text-align: right;
    }
    .el-table .positive-row {
        background: #e2f0e4;
    }
    .el-table th {

        font-weight: 100;
        font-size: 18px;
        text-align: center  !important;
    }
    .el-table__footer-wrapper thead div, .el-table__header-wrapper thead div{
        color: #464646 !important;
        font-size: 16px;
        letter-spacing: 2px;
    }
</style>
